<mat-grid-list cols="4" rowHeight="36px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="swap()" mat-button type="button">x<mat-icon inline="true">swap_horiz</mat-icon>y</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" mat-button type="button">R<mat-icon inline="true">arrow_downward</mat-icon></button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" mat-button type="button">R<mat-icon inline="true">arrow_upward</mat-icon></button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" mat-button type="button">drop</button>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="48px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button id="clear-button" class="calc-button secondary" mat-button type="button">{{hasResult ? 'C' : 'AC'}}</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button secondary" mat-button type="button"><sup>&#43;</sup>&#47;<sub>&#8722;</sub></button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button secondary" mat-button type="button">%</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button primary" mat-button type="button">&#247;</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="operand('7')" mat-button type="button">7</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="operand('8')" mat-button type="button">8</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="operand('9')" mat-button type="button">9</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button primary" mat-button type="button">&#215;</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="operand('4')" mat-button type="button">4</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="operand('5')" mat-button type="button">5</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="operand('6')" mat-button type="button">6</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button primary" mat-button type="button">&#8722;</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="operand('1')" mat-button type="button">1</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="operand('2')" mat-button type="button">2</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" (click)="operand('3')" mat-button type="button">3</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button primary" mat-button type="button">&#43;</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <button class="calc-button action" (click)="operand('0')" mat-button type="button">0</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button action" mat-button type="button">.</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button class="calc-button primary" (click)="enter()" mat-button type="button">enter</button>
  </mat-grid-tile>
</mat-grid-list>
